.App {
    text-align: center;
}

.chat-container {
    display: flex;
    height: 90vh;
    border: none;
}

.image-side {
    flex: 1;
    background-image: url("./sad-drinker.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.chat-side {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.messages {
    flex: 1;
    overflow: auto;
    padding: 1rem;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-text {
    background: linear-gradient(90deg, #9d50bb, #6e48aa);
    width: 50%;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #fff; /* White text */
    font-size: 1.1rem; /* Increase font size */
    border: 1px solid #9d50bb; /* Add a neon border */
}

.message-sender {
    background: black;
    width: 50%;
    padding: 0.5rem;
    margin: 20px auto;
    border-radius: 0.5rem;
    color: #fff; /* White text */
    font-size: 1.1rem; /* Increase font size */
    border: 1px solid #9d50bb; /* Add a neon border */
    justify-content: flex-end;
}

form {
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
}

input {
    flex: 1;
    padding: 0.5rem;
    margin-right: 1rem;
    border: none;
    border-radius: 3px;
    background: black;
    color: white;
    outline: none;
    transition: box-shadow .3s ease-in-out;
    font-size: 1rem;
}

input:focus {
    box-shadow: 0 0 10px #9d50bb;
}

button {
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient(90deg, #9d50bb, #6e48aa);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: transform .3s ease-in-out;
    cursor: pointer;
    outline: none;
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .chat-container {
        display: flex;
        border: none;
        flex-direction: column;
    }

    input {
        flex: 1;
        padding: 0.5rem;
        margin-right: 1rem;
        border: none;
        border-radius: 3px;
        background: black;
        color: white;
        outline: none;
        transition: box-shadow .3s ease-in-out;
        font-size: 1rem;
    }

}